{% extends "base.html.twig" %}
{% block title %}Sistema{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 class="titulo mt-5 mb-3 text-center">Sistema de clientes</h1>
        <div class="caja container border col-md-6 mt-4">
            <div class="col-md-6 offset-md-3 mt-4 mb-4">
                <h4 class="mt-4 mb-2 text-center">Bienvenid@ {{ app.user.email }}</h4>
                <h4 class="mt-4 mb-2 text-center"><a href="{{path('view')}}">Clientes</a></h4>
                <h4 class="mt-4 mb-2 text-center"><a href="{{path('buscar')}}">Mis usuarios</a></h4>
                <h4 class="mt-4 mb-4 text-center"><a href="{{ path('app_logout') }}">Cerrar sesión</a></h4>
        </div>
    </div>
</div>
</div>
{% endblock %}