{% extends 'base.html.twig' %}

{% block title %}Buscar usuarios{% endblock %}

{% block body %}
<h2  class="titulo mt-5 mb-5 text-center">Mostrar resultados</h2>
{{ include('buscar/formBuscar.html.twig') }}
{% endblock %}
